* {
  text-align: center;

}

.Dog {
  width: 300px;
  float: left;
}

li{
  list-style-type: lower-roman;
  list-style-position: inside;
    font-weight: normal;
}
h1{
    color: blue;
}
body {
  background-color: orange;
  font-family: sans-serif;
  font-size: 15px;
}

.Dog li {
  width: 300px;
  float: left;
  font-family: sans-serif;
  font-size: 15px;
  color: blue;
}

img {
  width: 100%;
  height: auto;
}
